#--------------------------------------------------------------
# Create initial terraform resources for a AWS service.
# This modules run locally to create a directory structure.
#--------------------------------------------------------------
module "identity_iam_templates" {
  source  = "../modules/aws/templates"
  service = "IAM"
}

#module "storage_s3_templates" {
#  source  = "../modules/aws/templates"
#  service = "S3"
#}
