#--------------------------------------------------------------
# User
#--------------------------------------------------------------

resource "aws_iam_user" "test" {
    name = "test"
    path = "/system/"
}
