#--------------------------------------------------------------
# tfstate by service
#--------------------------------------------------------------

#resource "aws_iam_user" "networking_vpc_readonly" {
#    name = "chilango.networking.vpc.readonly"
#    path = "/readonly/networking/vpc/"
#}

#resource "aws_iam_group_membership" "networking_vpc_readonly" {
#    name = "networking-vpc-group-membership"
#    users = [
#        "${aws_iam_user.networking_vpc_readonly.name}",
#    ]
#    group = "${aws_iam_group.networking_vpc_readonlyaccess.name}"
#}

#resource "aws_iam_user" "networking_vpc_fullaccess" {
#    name = "chilango.networking.vpc.fullaccess"
#    path = "/networking/vpc/"
#}

#resource "aws_iam_group_membership" "networking_vpc_fullaccess" {
#    name = "networking-vpc-group-membership"
#    users = [
#        "${aws_iam_user.networking_vpc_fullaccess.name}",
#    ]
#    group = "${aws_iam_group.networking_vpc_fullaccess.name}"
#}

module "networking_vpc_remote_state_config" {
    source = "github.com/aguamala/terraform-init/remote_state/s3//config"

    #remote state backend-config
    tf_state_fullaccess_groups = ["networking.vpc.fullaccess"]
    tf_state_readonlyaccess_groups = ["networking.vpc.readonlyaccess"]

    tf_state_aws_profile = "${var.aws_terraform_profile}"
    tf_state_bucket = "${module.remote_state_bucket.id}"

    tf_state_name = "networking_vpc"
    tf_state_path = "/networking-vpc/"

}
