#--------------------------------------------------------------
# config database rds remote state
#--------------------------------------------------------------

module "database_rds_remote_state_config" {
    source = "github.com/aguamala/terraform-init/remote_state/s3//config"

    #remote state backend-config
    tf_state_fullaccess_groups = ["database.rds.fullaccess"]
    tf_state_readonlyaccess_groups = ["database.rds.readonlyaccess"]

    tf_state_aws_profile = "${var.aws_terraform_profile}"
    tf_state_bucket = "${module.remote_state_bucket.id}"

    tf_state_name = "database_rds"

}
