#--------------------------------------------------------------
# config compute ec2 remote state
#--------------------------------------------------------------

module "compute_ec2_remote_state_config" {
    source = "github.com/aguamala/terraform-init//remote_state/s3/config"

    #remote state backend-config
    tf_state_fullaccess_groups = ["compute.ec2.fullaccess"]
    tf_state_readonlyaccess_groups = ["compute.ec2.readonlyaccess"]

    tf_state_aws_profile = "${var.aws_terraform_profile}"
    tf_state_bucket = "${module.remote_state_bucket.id}"
    tf_state_aws_region = "${var.aws_terraform_region}"

    tf_state_path = "compute/ec2/"
}
