#--------------------------------------------------------------
# config networking route53 remote state
#--------------------------------------------------------------
module "networking_route53_remote_state_config" {
    source = "github.com/aguamala/terraform-init/remote_state/s3//config"

    #remote state backend-config
    tf_state_fullaccess_groups = ["networking.route53.fullaccess"]
    tf_state_readonlyaccess_groups = ["networking.route53.readonlyaccess"]

    tf_state_aws_profile = "${var.aws_terraform_profile}"
    tf_state_bucket = "${module.remote_state_bucket.id}"

    tf_state_path = "networking/route53/"

}
