#--------------------------------------------------------------
# config networking vpc remote state
#--------------------------------------------------------------

module "networking_vpc_remote_state_config" {
    source = "github.com/aguamala/terraform-init/remote_state/s3//config"

    #remote state backend-config
    tf_state_fullaccess_groups = ["networking.vpc.fullaccess"]
    tf_state_readonlyaccess_groups = ["networking.vpc.readonlyaccess"]

    tf_state_aws_profile = "${var.aws_terraform_profile}"
    tf_state_bucket = "${module.remote_state_bucket.id}"

    tf_state_path = "networking/vpc/"

}
